nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: blue;
    text-decoration: none;
}
